.page.theme_light {
  --background: #fff;
  --ascient-color: #FF8DCB;
  --ascient-color2: #000028;
  --title-color: #FF0070;
  --text-color: #353430;

  .header {
    background: none;
  }

  .info__title {
    color: var(--ascient-color2);
  }

  .header__decorate-text {
    display: none;
  }

  .header__decorate-lamp {
    display: none;
  }

  .header__decorate-border-up {
    border-color: var(--text-color);
  }

  .header__decorate-border-bottom {
    border-color: var(--text-color);
  }

  .header__title-text {
    color: var(--ascient-color);
    text-shadow: 4px 4px 0px var(--title-color);
  }

  .footer__title-text {
    color: var(--ascient-color);
    text-shadow: 4px 4px 0px var(--title-color);
  }
}