.page.theme_light {
  --background: #fff;
  --ascient-color: #ff8dcb;
  --ascient-color2: #000028;
  --title-color: #ffc2e6;
  --title-shadow-color: #fc1c7c;
  --text-color: #353430;
  --button-hover: rgba(50, 49, 45, 0.4);

  background: #fff;

  .header__title-quote {
    color: var(--text-color);
  }

  .header__theme-menu-button {
    color: var(--text-color);
    border-color: var(--text-color);
  }

  .header__theme-menu-button:hover {
    border-color: var(--button-hover);
  }

  .decorated-zone__header-text {
    display: none;
  }

  .info__title {
    color: var(--ascient-color2);
  }

  .decorated-zone__header {
    display: none;
  }

  .decorated-zone::before {
    border-color: var(--text-color);
  }

  .decorated-zone::after {
    border-color: var(--text-color);
  }

  .header__title-text {
    color: var(--title-color);
    text-shadow: 4px 4px 0px var(--title-shadow-color);
  }

  .footer__title-text {
    color: var(--title-color);
    text-shadow: 4px 4px 0px var(--title-shadow-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fff;
    --ascient-color: #ff8dcb;
    --ascient-color2: #000028;
    --title-color: #ffc2e6;
    --title-shadow-color: #fc1c7c;
    --text-color: #353430;
    --button-hover: rgba(50, 49, 45, 0.4);
  }

  .page {
    background: #fff;
  }

  .header__title-quote {
    color: var(--text-color);
  }

  .header__theme-menu-button {
    color: var(--text-color);
    border-color: var(--text-color);
  }

  .header__theme-menu-button:hover {
    border-color: var(--button-hover);
  }

  .decorated-zone__header-text {
    display: none;
  }

  .info__title {
    color: var(--ascient-color2);
  }

  .decorated-zone__header {
    display: none;
  }

  .decorated-zone::before {
    border-color: var(--text-color);
  }

  .decorated-zone::after {
    border-color: var(--text-color);
  }

  .header__title-text {
    color: var(--title-color);
    text-shadow: 4px 4px 0px var(--title-shadow-color);
  }

  .footer__title-text {
    color: var(--title-color);
    text-shadow: 4px 4px 0px var(--title-shadow-color);
  }
}