body {
  background-color: var(--background);
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
}

.selection {
  text-shadow: 2px 2px var(--ascient-color);
  text-decoration: none;
}

.selection:hover {
  border-bottom: 1px solid var(--text-color);
}

.selection:focus {
  outline: none;
  border: 1px solid var(--text-color);
}

.info__title {
  color: var(--ascient-color);
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 20px;
}

.info__list__header {
  background-color: var(--ascient-color);
  color: var(--ascient-color2);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.info__item__header {
  background-color: var(--ascient-color);
  color: var(--ascient-color2);
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 23.4px;
}

.info__item__header-sub {
  background-color: var(--ascient-color);
  color: var(--ascient-color2);
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 23.4px;
}

.info__item__text {
  color: var(--text-color);
}

.header {
  position: relative;
  height: 100%;
  min-height: 668px;
  background-image: url("../images/cover-image-dark.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 20px;
  right: 20px;
  border-top: 1px solid var(--ascient-color);
  border-right: 1px solid var(--ascient-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 20px;
  bottom: 20px;
  border-bottom: 1px solid var(--ascient-color);
  border-left: 1px solid var(--ascient-color);
}

.decorated-zone__header {
  position: absolute;
  top: 20px;
  right: 45px;
}

.decorated-zone__header-text {
  line-height: 25px;
}

.decorated-zone__header-lamp {
  position: absolute;
  margin: 8px 9px 8px 7px;
  background: var(--ascient-color);
  width: 9px;
  height: 9px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 5px 3px var(--ascient-color);
  box-shadow: 0px 0px 5px 3px var(--ascient-color);
}

.header__theme-menu {
  padding-top: 20px;
  text-align: center;
  line-height: 18px;
}

.header__theme-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__theme-menu-button {
  text-transform: lowercase;
  padding-left: 14px;
  padding-right: 14px;
  height: 23px;
  background: none;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  padding-left: 13px;
  padding-right: 13px;
  border: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border: none;
  border-bottom: 1px solid var(--ascient-color);
}

.header__theme-menu-button_active {
  padding-left: 13px;
  padding-right: 13px;
  border: 1px solid var(--ascient-color);
  pointer-events: none;
}

.header__decorate-text {
  line-height: 25px;
}

.header__title {
  padding-top: 273px;
  padding-bottom: 134px;
}

.header__title-text {
  padding-bottom: 114px;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--ascient-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
}

.header__title-quote {
  margin-left: auto;
  margin-right: 20px;
  width: clamp(355px, 48%, 491px);
  background-color: var(--ascient-color);
  color: var(--ascient-color2);
  font-weight: 700;
}

.difficult-focus {
  margin: 60px 20px 80px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32% 20px 1fr;
  grid-template-columns: 32% 1fr;
  gap: 20px;
}

.difficult-focus__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.reduces-concentration {
  margin: 0 20px 80px 20px;
}

.reduces-concentration__list {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
}

.long_concentration {
  margin: 60px 20px 80px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32% 20px 1fr;
  grid-template-columns: 32% 1fr;
  gap: 20px;
}

.long_concentration__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.images {
  margin: 60px 20px 60px 20px;
}

.images__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: clamp(140, 32.45%, 768px) 20px clamp(140, 32.45%, 768px) 20px
    clamp(140, 32.45%, 768px);
  grid-template-rows: repeat(3, clamp(140, 32.45%, 768px));
  grid-auto-flow: column dense;
  gap: 20px;
}

.images__list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.images__list > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.images__list > *:nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.images__list > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.images__list > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.images__list > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.images__list > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.images__list > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.images__list > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.images__list__item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
}

.images__list__item--1 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

.images__list__item--2 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

.images__list__item--3 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 4;
}

.images__list__item--4 {
  -ms-grid-column: 2;
  grid-column-start: 2;
}

.images__list__item--5 {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
}

.footer {
  height: 100vh;
  min-height: 668px;
  position: relative;
}

.footer__title-text {
  text-align: center;
  padding: 319px 0 319px 0;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--ascient-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
}

@media (width <= 768px) {
  .header__theme-menu-list {
    padding-top: 172px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    margin-right: 20px;
  }

  .header__title {
    padding-top: 173px;
    padding-bottom: 183px;
  }

  .header__title-text {
    padding-bottom: 162px;
  }

  .reduces-concentration__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__title-text {
    padding: 463px 0 463px 0;
  }
}

@media (width <= 570px) {
  .long_concentration {
    display: block;
  }

  .images__list {
    display: block;
    gap: 10px;
  }

  .info__title {
    margin-bottom: 10px;
  }
}

@media (width <= 500px) {
  .difficult-focus {
    display: block;
  }
}

@media (width <= 375px) {
  .header__theme-menu-list {
    padding-top: 56.5px;
    margin-right: 10px;
  }

  .header__title-quote {
    margin-left: 10px;
    margin-right: 10px;
  }

  .header__title {
    padding-top: 73px;
    padding-bottom: 66px;
  }

  .header__title-text {
    padding-left: 10px;
    padding-bottom: 50px;
    letter-spacing: -2.5px;
  }

  .difficult-focus {
    display: block;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 50px;
  }

  .reduces-concentration {
    display: block;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 50px;
  }

  .long_concentration {
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 50px;
  }

  .images {
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .footer__title-text {
    padding: 286px 0 286px 0;
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }
}
